@model IEnumerable<DapperInMVCCore.Models.Teacher>

@{
    ViewData["Title"] = "ViewTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewTeacher</h1>

<p>
    <a asp-action="CreateTeacher">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherPhone)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTeacher", new { id=item.TeacherId }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
